*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:linear-gradient(45deg,#2196f3,#ff4685);
}
.container{
    position:relative;
    padding:50px;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-radius:8px;
    box-shadow:0 15px 35px rgba(0,0,0,0.25);
    
}
.inputBox{
    position:relative;
    width:350px;
}
.inputBox input{
    position:relative;
    padding:8px 10px;
    border:none;
    outline:none;
    width:100%;
    background:transparent;
    color:#fff;
    font-size:1.25em;
    transition:0.5s;
    letter-spacing:0.05em;
    z-index:2;
}
.inputBox span{
    position:absolute;
    left:0;
    padding:10px 0;
    pointer-events:none;
    transition:0.5s;
    letter-spacing:0.05em;
    color:#333;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    font-size:0.85em;
    transform:translateY(-32px);
}
.inputBox i{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:3px;
    background:#333;
    background:linear-gradient(45deg,#2196f3,#ff4685);
    transition:0.5s;
    z-index:1;
    border-radius:4px;    
    pointer-events:none;
    
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
   height:100%;
   box-shadow:0 0 10px rgba(0,0,0,0.25)
}